<div id="content">
    <div class="content-header">
        <h1>Коллекции</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div style="min-width: 300px;" class="col-sm-4 cat well table tags_cont tags_cont_all">

                <h4 class="muted">Методология компьютерного эксперимента</h4>
                <hr class="border_none">

                <div ng-repeat="element in elements">
                    <div class="tag label btn-info inf_left" ><span class="tags_orient">{{element.caption}}</span></div>
                </div>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-4 cat well table tags_cont tags_cont_all">

                <h4 class="muted">Computer experiment methodology</h4>
                <hr class="border_none">
                <div class="tag label btn-info inf_left"><span class="tags_orient">	Experiment	</span></div>
                <div class="tag label btn-info inf_left"><span class="tags_orient">	Computer experiment	</span></div>
                <div class="tag label btn-info inf_left"><span class="tags_orient">	Research experiment	</span></div>
                <div class="tag label btn-info inf_left"><span class="tags_orient">	Experiment factors and parameters	</span></div>
                <div class="tag label btn-info inf_left"><span class="tags_orient">	Robust parameter design	</span></div>
                <div class="tag label btn-info inf_left"><span class="tags_orient">	Results analysis and interpretation	</span></div>
                <div class="tag label btn-info inf_left"><span class="tags_orient">	Algorithm engineering	</span></div>
                <div class="tag label btn-info inf_left"><span class="tags_orient">	Algorithm engineering Karlsruhe	</span></div>
                <div class="tag label btn-info inf_left"><span class="tags_orient">	Experiment documentation	</span></div>
                <div class="tag label btn-info inf_left"><span class="tags_orient">	Experiment reproducibility	</span></div>
                <div class="tag label btn-info inf_left"><span class="tags_orient">	Experiment capability Crisis	</span></div>

            </div>
        </div>

    </div>


</div>