
<section id="services">

    <div class ="container">
    <div class="row">
        <div class="col-sm-6">
            <div style="min-width: 300px;" class="col-sm-4 cat well table tags_cont tags_cont_all">

                <h4 class="muted">Методология компьютерного эксперимента</h4>
                <hr class="border_none">


                   <span ng-repeat="element in elements"  >
                       <div  class="tag label btn-info inf-left " style="margin-right:3px;">

                           <span class="tags_orient"> {{element.caption}} </span></div></span>


            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-4 cat well table tags_cont tags_cont_all">

                <h4 class="muted">Computer experiment methodology</h4>
                <hr class="border_none">

                <span ng-repeat="element in engElements"  >
                    <div  class="tag label btn-info inf-left " style="margin-right:3px;">
                        <span class="tags_orient"> {{element.caption}} </span></div></span>


            </div>
        </div>

    </div>
    </div>
</section>
